.header{
    background-image: linear-gradient(to right, #6DC5D1, #7469B6);
    height: 2.8rem;
    display: flex;
    margin: auto;
    }
    .logo{
    object-fit: cover;
    margin-right: 0.3rem;
    margin-left: 1.6rem;
    }
    .dd-toggle:nth-of-type(2){
        margin-left: auto;
    }
    button{
        background-color: initial;
        border: initial;
    }
    .calc{
        height: 2.5rem;
        width: 2.1rem;
    }
    .search{
        height: 2.5rem;
        width: 2.1rem;
        margin-right: 1.6rem;
    }
    .dd-toggle{
        color: rgba(255, 255,255,0.7);
        padding: 0 0.8rem;
        cursor: pointer;
        transition: color 0.4s, background-color ;
    }
    .dd-toggle:hover{
    color: #fff;
    background-color: rgba(255,255,255,0.07);
    }
    .dd-toogle:last-child{
        display: flex;
        align-items: center;
    }
    
    .foot{
    background-color: #524C42;
    height: 7rem;
    display: flex;
    justify-content: center;
    padding: 1.56rem 0 0.62rem;
    margin: auto;
    gap: 2rem;
    }
    
    .lik{
        color: #619d0d;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none; 
    }
    
    .lik:hover{
       color: #EAF6F6;    
    }